<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="w-full max-w-md mx-auto">
    <form [formGroup]="joinTeamForm" (ngSubmit)="onSubmit()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <app-label [htmlFor]="'username'" [value]="'Username'"></app-label>
        <input id="username" type="text" placeholder="Username" formControlName="username">
      </div>
      <div class="mb-6">
        <app-label [htmlFor]="'teamCode'" [value]="'Team Code'"></app-label>
        <input id="teamCode" type="text" placeholder="Team Code" formControlName="teamCode">
      </div>
      <div class="flex items-center justify-between">
        <app-button
          [isDisabled]="joinTeamForm.invalid"
          [inputType]="'submit'"
          [value]="'Join Team'"
        ></app-button>
        <div
          id="g_id_onload"
          data-client_id="951096299812-65ccdd0dlpmce515n5n9i6pemoarerd3.apps.googleusercontent.com"
          data-context="signin"
          data-ux_mode="popup"
          data-login_uri="http://localhost:4200"
          data-auto_prompt="false">
        </div>

        <div
          class="g_id_signin"
          data-type="standard"
          data-shape="pill"
          data-theme="outline"
          data-text="continue_with"
          data-size="large"
          data-logo_alignment="left">
        </div>
      </div>
    </form>
  </div>
</div>

