@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
    &:focus {
      @apply outline-none;
    }
  }
}
