
<div class="flex flex-col items-center justify-center mb-6" *ngIf="vm$ | async as vm">
  <div class="w-full max-w-md mx-auto">

    <p *ngIf="vm.selectedTeam as team" class="my-5 text-center">
      Your team is <strong>{{ team.name }}</strong>
    </p>

    <form [formGroup]="songsForm" (ngSubmit)="onSubmit()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 text-black">
      <div class="mb-6">
        <div *ngIf="(currentPhrase$ | async) as currentPhrase; else loading">
          <span class="font-bold">{{ currentPhrase }}</span>
        </div>
        <ng-template #loading>
          <div>Loading...</div>
        </ng-template>
      </div>
      <div class="flex flex-col">
        <div *ngFor="let song of (songs$ | async)">
          <input
            class="mr-2"
            type="radio"
            [value]="song.songId"
            formControlName="songChoice"
            [id]="'song-' + song.songId"
          />
          <label [for]="'song-' + song.songId">{{ song.title }}</label>
        </div>
      </div>
      <div class="flex items-center justify-between pt-4">
        <app-button
          [isDisabled]="!!(stopCondition$ | async)"
          [inputType]="'submit'"
          [value]="'Guess'"
        ></app-button>
      </div>
      <div class="w-full h-4 bg-gray-300 mt-4">
        <div
          [ngStyle]="{ 'width': (countdown$ | async) + '%' }"
          class="h-4 bg-green-500 transition-all duration-1000"
        ></div>
      </div>
    </form>

  </div>
</div>
